In [41]:
import glob
import pandas as pd

# Get a list of all CSV files that match the pattern
csv_files = glob.glob('/content/daily-shelter-overnight-service-occupancy-capacity-*.csv')

# Initialize an empty list to store individual DataFrames
dfs = []

# Loop through each file, read it, and append to the list
for file in csv_files:
    df = pd.read_csv(file)
    df.info()
    df['OCCUPANCY_DATE'] = pd.to_datetime(
    df['OCCUPANCY_DATE'].astype(str),
    yearfirst=True,   # treat the first number as the year
    errors='coerce'
)
    dfs.append(df)

# Concatenate all DataFrames into a single DataFrame
merged_df = pd.concat(dfs, ignore_index=True)
merged_df = merged_df.sort_values('OCCUPANCY_DATE')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44954 entries, 0 to 44953
Data columns (total 32 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   _id                     44954 non-null  int64
 1   OCCUPANCY_DATE          44954 non-null  object
 2   ORGANIZATION_ID         44954 non-null  int64
 3   ORGANIZATION_NAME       44954 non-null  object
 4   SHELTER_ID              44954 non-null  int64
 5   SHELTER_GROUP           44954 non-null  object
 6   LOCATION_ID             44954 non-null  int64
 7   LOCATION_NAME           44954 non-null  object
 8   LOCATION_ADDRESS        42894 non-null  object
 9   LOCATION_POSTAL_CODE    42894 non-null  object
 10  LOCATION_CITY           42883 non-null  object
 11  LOCATION_PROVINCE       42505 non-null  object
 12  PROGRAM_ID              44954 non-null  int64
 13  PROGRAM_NAME            44954 non-null  object
 14  SECTOR                  44954 non-null  object
 15  PROGRAM_MODEL           44940 non-null  object
 16  OVERNIGHT_SERVICE_TYPE  44954 non-null  object
 17  PROGRAM_AREA            44954 non-null  object
 18  SERVICE_USER_COUNT      44954 non-null  int64
 19  CAPACITY_TYPE           44954 non-null  object
 20  CAPACITY_ACTUAL_BED     33600 non-null  float64
 21  CAPACITY_FUNDING_BED    33600 non-null  float64
 22  OCCUPIED_BEDS           33600 non-null  float64
 23  UNOCCUPIED_BEDS         33600 non-null  float64
 24  UNAVAILABLE_BEDS        33600 non-null  float64
 25  CAPACITY_ACTUAL_ROOM    11354 non-null  float64
 26  CAPACITY_FUNDING_ROOM   11354 non-null  float64
 27  OCCUPIED_ROOMS          11354 non-null  float64
 28  UNOCCUPIED_ROOMS        11354 non-null  float64
 29  UNAVAILABLE_ROOMS       11354 non-null  float64
 30  OCCUPANCY_RATE_BEDS     33600 non-null  float64
 31  OCCUPANCY_RATE_ROOMS    11354 non-null  float64
dtypes: float64(12), int64(6), object(14)
memory usage: 11.0+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48345 entries, 0 to 48344
Data columns (total 32 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   _id                     48345 non-null  int64
 1   OCCUPANCY_DATE          48345 non-null  object
 2   ORGANIZATION_ID         48345 non-null  int64
 3   ORGANIZATION_NAME       48345 non-null  object
 4   SHELTER_ID              48345 non-null  int64
 5   SHELTER_GROUP           48345 non-null  object
 6   LOCATION_ID             48345 non-null  int64
 7   LOCATION_NAME           47980 non-null  object
 8   LOCATION_ADDRESS        46902 non-null  object
 9   LOCATION_POSTAL_CODE    46902 non-null  object
 10  LOCATION_CITY           46882 non-null  object
 11  LOCATION_PROVINCE       46882 non-null  object
 12  PROGRAM_ID              48345 non-null  int64
 13  PROGRAM_NAME            48345 non-null  object
 14  SECTOR                  48345 non-null  object
 15  PROGRAM_MODEL           48345 non-null  object
 16  OVERNIGHT_SERVICE_TYPE  48345 non-null  object
 17  PROGRAM_AREA            48345 non-null  object
 18  SERVICE_USER_COUNT      48345 non-null  int64
 19  CAPACITY_TYPE           48345 non-null  object
 20  CAPACITY_ACTUAL_BED     32888 non-null  float64
 21  CAPACITY_FUNDING_BED    32888 non-null  float64
 22  OCCUPIED_BEDS           32888 non-null  float64
 23  UNOCCUPIED_BEDS         32888 non-null  float64
 24  UNAVAILABLE_BEDS        32888 non-null  float64
 25  CAPACITY_ACTUAL_ROOM    15457 non-null  float64
 26  CAPACITY_FUNDING_ROOM   15457 non-null  float64
 27  OCCUPIED_ROOMS          15457 non-null  float64
 28  UNOCCUPIED_ROOMS        15457 non-null  float64
 29  UNAVAILABLE_ROOMS       15457 non-null  float64
 30  OCCUPANCY_RATE_BEDS     32888 non-null  float64
 31  OCCUPANCY_RATE_ROOMS    15457 non-null  float64
dtypes: float64(12), int64(6), object(14)
memory usage: 11.8+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50944 entries, 0 to 50943
Data columns (total 32 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   _id                     50944 non-null  int64
 1   OCCUPANCY_DATE          50944 non-null  object
 2   ORGANIZATION_ID         50944 non-null  int64
 3   ORGANIZATION_NAME       50944 non-null  object
 4   SHELTER_ID              50944 non-null  int64
 5   SHELTER_GROUP           50944 non-null  object
 6   LOCATION_ID             50613 non-null  float64
 7   LOCATION_NAME           50611 non-null  object
 8   LOCATION_ADDRESS        49374 non-null  object
 9   LOCATION_POSTAL_CODE    49374 non-null  object
 10  LOCATION_CITY           49374 non-null  object
 11  LOCATION_PROVINCE       49374 non-null  object
 12  PROGRAM_ID              50944 non-null  int64
 13  PROGRAM_NAME            50909 non-null  object
 14  SECTOR                  50944 non-null  object
 15  PROGRAM_MODEL           50942 non-null  object
 16  OVERNIGHT_SERVICE_TYPE  50942 non-null  object
 17  PROGRAM_AREA            50942 non-null  object
 18  SERVICE_USER_COUNT      50944 non-null  int64
 19  CAPACITY_TYPE           50944 non-null  object
 20  CAPACITY_ACTUAL_BED     32399 non-null  float64
 21  CAPACITY_FUNDING_BED    32399 non-null  float64
 22  OCCUPIED_BEDS           32399 non-null  float64
 23  UNOCCUPIED_BEDS         32399 non-null  float64
 24  UNAVAILABLE_BEDS        32399 non-null  float64
 25  CAPACITY_ACTUAL_ROOM    18545 non-null  float64
 26  CAPACITY_FUNDING_ROOM   18226 non-null  float64
 27  OCCUPIED_ROOMS          18545 non-null  float64
 28  UNOCCUPIED_ROOMS        18545 non-null  float64
 29  UNAVAILABLE_ROOMS       18226 non-null  float64
 30  OCCUPANCY_RATE_BEDS     32399 non-null  float64
 31  OCCUPANCY_RATE_ROOMS    18545 non-null  float64
dtypes: float64(13), int64(5), object(14)
memory usage: 12.4+ MB

/tmp/ipython-input-936263161.py:14: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['OCCUPANCY_DATE'] = pd.to_datetime(

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48794 entries, 0 to 48793
Data columns (total 32 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   _id                     48794 non-null  int64
 1   OCCUPANCY_DATE          48794 non-null  object
 2   ORGANIZATION_ID         48794 non-null  int64
 3   ORGANIZATION_NAME       48794 non-null  object
 4   SHELTER_ID              48794 non-null  int64
 5   SHELTER_GROUP           48794 non-null  object
 6   LOCATION_ID             48789 non-null  float64
 7   LOCATION_NAME           48423 non-null  object
 8   LOCATION_ADDRESS        46602 non-null  object
 9   LOCATION_POSTAL_CODE    46628 non-null  object
 10  LOCATION_CITY           46613 non-null  object
 11  LOCATION_PROVINCE       46613 non-null  object
 12  PROGRAM_ID              48794 non-null  int64
 13  PROGRAM_NAME            48794 non-null  object
 14  SECTOR                  48794 non-null  object
 15  PROGRAM_MODEL           48794 non-null  object
 16  OVERNIGHT_SERVICE_TYPE  48794 non-null  object
 17  PROGRAM_AREA            48794 non-null  object
 18  SERVICE_USER_COUNT      48794 non-null  int64
 19  CAPACITY_TYPE           48794 non-null  object
 20  CAPACITY_ACTUAL_BED     34766 non-null  float64
 21  CAPACITY_FUNDING_BED    34766 non-null  float64
 22  OCCUPIED_BEDS           34766 non-null  float64
 23  UNOCCUPIED_BEDS         34766 non-null  float64
 24  UNAVAILABLE_BEDS        34766 non-null  float64
 25  CAPACITY_ACTUAL_ROOM    14028 non-null  float64
 26  CAPACITY_FUNDING_ROOM   14028 non-null  float64
 27  OCCUPIED_ROOMS          14028 non-null  float64
 28  UNOCCUPIED_ROOMS        14028 non-null  float64
 29  UNAVAILABLE_ROOMS       14028 non-null  float64
 30  OCCUPANCY_RATE_BEDS     34766 non-null  float64
 31  OCCUPANCY_RATE_ROOMS    14028 non-null  float64
dtypes: float64(13), int64(5), object(14)
memory usage: 11.9+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49478 entries, 0 to 49477
Data columns (total 32 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   _id                     49478 non-null  int64
 1   OCCUPANCY_DATE          49478 non-null  object
 2   ORGANIZATION_ID         49478 non-null  int64
 3   ORGANIZATION_NAME       49478 non-null  object
 4   SHELTER_ID              49478 non-null  int64
 5   SHELTER_GROUP           49262 non-null  object
 6   LOCATION_ID             49369 non-null  float64
 7   LOCATION_NAME           49056 non-null  object
 8   LOCATION_ADDRESS        48144 non-null  object
 9   LOCATION_POSTAL_CODE    48144 non-null  object
 10  LOCATION_CITY           48144 non-null  object
 11  LOCATION_PROVINCE       48144 non-null  object
 12  PROGRAM_ID              49478 non-null  int64
 13  PROGRAM_NAME            49478 non-null  object
 14  SECTOR                  49478 non-null  object
 15  PROGRAM_MODEL           49478 non-null  object
 16  OVERNIGHT_SERVICE_TYPE  49478 non-null  object
 17  PROGRAM_AREA            49478 non-null  object
 18  SERVICE_USER_COUNT      49478 non-null  int64
 19  CAPACITY_TYPE           49478 non-null  object
 20  CAPACITY_ACTUAL_BED     32037 non-null  float64
 21  CAPACITY_FUNDING_BED    32037 non-null  float64
 22  OCCUPIED_BEDS           32037 non-null  float64
 23  UNOCCUPIED_BEDS         32037 non-null  float64
 24  UNAVAILABLE_BEDS        32037 non-null  float64
 25  CAPACITY_ACTUAL_ROOM    17441 non-null  float64
 26  CAPACITY_FUNDING_ROOM   17441 non-null  float64
 27  OCCUPIED_ROOMS          17441 non-null  float64
 28  UNOCCUPIED_ROOMS        17441 non-null  float64
 29  UNAVAILABLE_ROOMS       17441 non-null  float64
 30  OCCUPANCY_RATE_BEDS     32037 non-null  float64
 31  OCCUPANCY_RATE_ROOMS    17441 non-null  float64
dtypes: float64(13), int64(5), object(14)
memory usage: 12.1+ MB

/tmp/ipython-input-936263161.py:14: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['OCCUPANCY_DATE'] = pd.to_datetime(

In [42]:
# # Save the merged_df to a new CSV file
# merged_df.to_csv('merged_shelter_data.csv', index=False)

# print("merged_df saved successfully as 'merged_shelter_data.csv'")

# merged_df.info()

### Merged DataFrame Info and Head

In [43]:
print(merged_df.info())
display(merged_df.head())
display(merged_df.tail())

<class 'pandas.core.frame.DataFrame'>
Index: 242515 entries, 93358 to 44812
Data columns (total 32 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   _id                     242515 non-null  int64
 1   OCCUPANCY_DATE          242515 non-null  datetime64[ns]
 2   ORGANIZATION_ID         242515 non-null  int64
 3   ORGANIZATION_NAME       242515 non-null  object
 4   SHELTER_ID              242515 non-null  int64
 5   SHELTER_GROUP           242299 non-null  object
 6   LOCATION_ID             242070 non-null  float64
 7   LOCATION_NAME           241024 non-null  object
 8   LOCATION_ADDRESS        233916 non-null  object
 9   LOCATION_POSTAL_CODE    233942 non-null  object
 10  LOCATION_CITY           233896 non-null  object
 11  LOCATION_PROVINCE       233518 non-null  object
 12  PROGRAM_ID              242515 non-null  int64
 13  PROGRAM_NAME            242480 non-null  object
 14  SECTOR                  242515 non-null  object
 15  PROGRAM_MODEL           242499 non-null  object
 16  OVERNIGHT_SERVICE_TYPE  242513 non-null  object
 17  PROGRAM_AREA            242513 non-null  object
 18  SERVICE_USER_COUNT      242515 non-null  int64
 19  CAPACITY_TYPE           242515 non-null  object
 20  CAPACITY_ACTUAL_BED     165690 non-null  float64
 21  CAPACITY_FUNDING_BED    165690 non-null  float64
 22  OCCUPIED_BEDS           165690 non-null  float64
 23  UNOCCUPIED_BEDS         165690 non-null  float64
 24  UNAVAILABLE_BEDS        165690 non-null  float64
 25  CAPACITY_ACTUAL_ROOM    76825 non-null   float64
 26  CAPACITY_FUNDING_ROOM   76506 non-null   float64
 27  OCCUPIED_ROOMS          76825 non-null   float64
 28  UNOCCUPIED_ROOMS        76825 non-null   float64
 29  UNAVAILABLE_ROOMS       76506 non-null   float64
 30  OCCUPANCY_RATE_BEDS     165690 non-null  float64
 31  OCCUPANCY_RATE_ROOMS    76825 non-null   float64
dtypes: datetime64[ns](1), float64(13), int64(5), object(13)
memory usage: 61.1+ MB
None

,_id,OCCUPANCY_DATE,ORGANIZATION_ID,ORGANIZATION_NAME,SHELTER_ID,SHELTER_GROUP,LOCATION_ID,LOCATION_NAME,LOCATION_ADDRESS,LOCATION_POSTAL_CODE,...,OCCUPIED_BEDS,UNOCCUPIED_BEDS,UNAVAILABLE_BEDS,CAPACITY_ACTUAL_ROOM,CAPACITY_FUNDING_ROOM,OCCUPIED_ROOMS,UNOCCUPIED_ROOMS,UNAVAILABLE_ROOMS,OCCUPANCY_RATE_BEDS,OCCUPANCY_RATE_ROOMS
93358,60,2021-01-01,6,Dixon Hall,14,Dixon Hall - Schoolhouse,1020.0,Dixon Hall Schoolhouse,349 George St,M5A 2N2,...,22.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,100.0,NaN
93403,105,2021-01-01,34,St. Felix Social Ministries Outreach,66,St. Felix Centre,1148.0,St. Felix Centre 69 Fraser Ave. Respite,69 Fraser Ave,M6K 1E9,...,43.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,100.0,NaN
93357,59,2021-01-01,6,Dixon Hall,9,Dixon Hall - Heyworth House,1177.0,Dixon Hall Downtown Hotel,56 Yonge St,M5E 1G5,...,NaN,NaN,NaN,48.0,0.0,48.0,0.0,0.0,NaN,100.00
93356,58,2021-01-01,6,Dixon Hall,9,Dixon Hall - Heyworth House,1167.0,HFS Downtown Hotel Program,60 York St,M5J 1S8,...,NaN,NaN,NaN,90.0,0.0,88.0,2.0,0.0,NaN,97.78
93355,57,2021-01-01,6,Dixon Hall,9,Dixon Hall - Heyworth House,1015.0,Dixon Hall Heyworth House,2714 Danforth Ave,M4C 1L7,...,41.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,100.0,NaN

,_id,OCCUPANCY_DATE,ORGANIZATION_ID,ORGANIZATION_NAME,SHELTER_ID,SHELTER_GROUP,LOCATION_ID,LOCATION_NAME,LOCATION_ADDRESS,LOCATION_POSTAL_CODE,...,OCCUPIED_BEDS,UNOCCUPIED_BEDS,UNAVAILABLE_BEDS,CAPACITY_ACTUAL_ROOM,CAPACITY_FUNDING_ROOM,OCCUPIED_ROOMS,UNOCCUPIED_ROOMS,UNAVAILABLE_ROOMS,OCCUPANCY_RATE_BEDS,OCCUPANCY_RATE_ROOMS
44860,44861,2025-11-15,12,Covenant House Toronto,20,Covenant House,1026.0,Covenant House Gerrard St E,20 Gerrard St E,M5B 2P3,...,8.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,88.89,NaN
44861,44862,2025-11-15,12,Covenant House Toronto,20,Covenant House,1026.0,Covenant House Gerrard St E,20 Gerrard St E,M5B 2P3,...,9.0,21.0,0.0,NaN,NaN,NaN,NaN,NaN,30.00,NaN
44862,44863,2025-11-15,12,Covenant House Toronto,20,Covenant House,1027.0,Covenant House McGill St,21 McGill St,M5B 1H3,...,28.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,100.00,NaN
44845,44846,2025-11-15,1,City of Toronto,3,Seaton House,1008.0,TSSS Seaton House,339 George St,M5A 2N2,...,14.0,0.0,93.0,NaN,NaN,NaN,NaN,NaN,100.00,NaN
44812,44813,2025-11-15,24,COSTI Immigrant Services,40,COSTI Reception Centre,1051.0,COSTI Reception Centre,100 Lippincott St,M5S 2P1,...,6.0,2.0,0.0,NaN,NaN,NaN,NaN,NaN,75.00,NaN

In [44]:
merged_df.duplicated()

93358    False
93403    False
93357    False
93356    False
93355    False
         ...
44860    False
44861    False
44862    False
44845    False
44812    False
Length: 242515, dtype: bool

In [45]:
cat_col = [col for col in df.columns if df[col].dtype == 'object']
num_col = [col for col in df.columns if df[col].dtype != 'object']

print('Categorical columns:', cat_col)
print('Numerical columns:', num_col)

Categorical columns: ['ORGANIZATION_NAME', 'SHELTER_GROUP', 'LOCATION_NAME', 'LOCATION_ADDRESS', 'LOCATION_POSTAL_CODE', 'LOCATION_CITY', 'LOCATION_PROVINCE', 'PROGRAM_NAME', 'SECTOR', 'PROGRAM_MODEL', 'OVERNIGHT_SERVICE_TYPE', 'PROGRAM_AREA', 'CAPACITY_TYPE']
Numerical columns: ['_id', 'OCCUPANCY_DATE', 'ORGANIZATION_ID', 'SHELTER_ID', 'LOCATION_ID', 'PROGRAM_ID', 'SERVICE_USER_COUNT', 'CAPACITY_ACTUAL_BED', 'CAPACITY_FUNDING_BED', 'OCCUPIED_BEDS', 'UNOCCUPIED_BEDS', 'UNAVAILABLE_BEDS', 'CAPACITY_ACTUAL_ROOM', 'CAPACITY_FUNDING_ROOM', 'OCCUPIED_ROOMS', 'UNOCCUPIED_ROOMS', 'UNAVAILABLE_ROOMS', 'OCCUPANCY_RATE_BEDS', 'OCCUPANCY_RATE_ROOMS']

In [46]:
merged_df[cat_col].nunique()

ORGANIZATION_NAME          40
SHELTER_GROUP              77
LOCATION_NAME             169
LOCATION_ADDRESS          141
LOCATION_POSTAL_CODE      132
LOCATION_CITY               6
LOCATION_PROVINCE           1
PROGRAM_NAME              283
SECTOR                      5
PROGRAM_MODEL               2
OVERNIGHT_SERVICE_TYPE     10
PROGRAM_AREA                6
CAPACITY_TYPE               2
dtype: int64

Calculate Missing Values as Percentage

In [47]:
round((df.isnull().sum() / df.shape[0]) * 100, 2)

_id                        0.00
OCCUPANCY_DATE             0.00
ORGANIZATION_ID            0.00
ORGANIZATION_NAME          0.00
SHELTER_ID                 0.00
SHELTER_GROUP              0.44
LOCATION_ID                0.22
LOCATION_NAME              0.85
LOCATION_ADDRESS           2.70
LOCATION_POSTAL_CODE       2.70
LOCATION_CITY              2.70
LOCATION_PROVINCE          2.70
PROGRAM_ID                 0.00
PROGRAM_NAME               0.00
SECTOR                     0.00
PROGRAM_MODEL              0.00
OVERNIGHT_SERVICE_TYPE     0.00
PROGRAM_AREA               0.00
SERVICE_USER_COUNT         0.00
CAPACITY_TYPE              0.00
CAPACITY_ACTUAL_BED       35.25
CAPACITY_FUNDING_BED      35.25
OCCUPIED_BEDS             35.25
UNOCCUPIED_BEDS           35.25
UNAVAILABLE_BEDS          35.25
CAPACITY_ACTUAL_ROOM      64.75
CAPACITY_FUNDING_ROOM     64.75
OCCUPIED_ROOMS            64.75
UNOCCUPIED_ROOMS          64.75
UNAVAILABLE_ROOMS         64.75
OCCUPANCY_RATE_BEDS       35.25
OCCUPANCY_RATE_ROOMS      64.75
dtype: float64

### Calculating Missing Values Percentage for `merged_df`

In [48]:
missing_percentages = (merged_df.isnull().sum() / len(merged_df)) * 100
print("Missing values percentage per column in merged_df:\n", round(missing_percentages, 2))

Missing values percentage per column in merged_df:
 _id                        0.00
OCCUPANCY_DATE             0.00
ORGANIZATION_ID            0.00
ORGANIZATION_NAME          0.00
SHELTER_ID                 0.00
SHELTER_GROUP              0.09
LOCATION_ID                0.18
LOCATION_NAME              0.61
LOCATION_ADDRESS           3.55
LOCATION_POSTAL_CODE       3.54
LOCATION_CITY              3.55
LOCATION_PROVINCE          3.71
PROGRAM_ID                 0.00
PROGRAM_NAME               0.01
SECTOR                     0.00
PROGRAM_MODEL              0.01
OVERNIGHT_SERVICE_TYPE     0.00
PROGRAM_AREA               0.00
SERVICE_USER_COUNT         0.00
CAPACITY_TYPE              0.00
CAPACITY_ACTUAL_BED       31.68
CAPACITY_FUNDING_BED      31.68
OCCUPIED_BEDS             31.68
UNOCCUPIED_BEDS           31.68
UNAVAILABLE_BEDS          31.68
CAPACITY_ACTUAL_ROOM      68.32
CAPACITY_FUNDING_ROOM     68.45
OCCUPIED_ROOMS            68.32
UNOCCUPIED_ROOMS          68.32
UNAVAILABLE_ROOMS         68.45
OCCUPANCY_RATE_BEDS       31.68
OCCUPANCY_RATE_ROOMS      68.32
dtype: float64

### Dropping Data-Heavy Missing Columns

Columns with more than 60% missing values will be dropped. These include `CAPACITY_ACTUAL_ROOM`, `CAPACITY_FUNDING_ROOM`, `OCCUPIED_ROOMS`, `UNOCCUPIED_ROOMS`, `UNAVAILABLE_ROOMS`, and `OCCUPANCY_RATE_ROOMS`.

In [49]:
columns_to_drop = missing_percentages[missing_percentages > 60].index.tolist()
merged_df = merged_df.drop(columns=columns_to_drop)

print(f"Dropped columns: {columns_to_drop}")
print("Updated merged_df info after dropping columns:")
print(merged_df.info())

Dropped columns: ['CAPACITY_ACTUAL_ROOM', 'CAPACITY_FUNDING_ROOM', 'OCCUPIED_ROOMS', 'UNOCCUPIED_ROOMS', 'UNAVAILABLE_ROOMS', 'OCCUPANCY_RATE_ROOMS']
Updated merged_df info after dropping columns:
<class 'pandas.core.frame.DataFrame'>
Index: 242515 entries, 93358 to 44812
Data columns (total 26 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   _id                     242515 non-null  int64
 1   OCCUPANCY_DATE          242515 non-null  datetime64[ns]
 2   ORGANIZATION_ID         242515 non-null  int64
 3   ORGANIZATION_NAME       242515 non-null  object
 4   SHELTER_ID              242515 non-null  int64
 5   SHELTER_GROUP           242299 non-null  object
 6   LOCATION_ID             242070 non-null  float64
 7   LOCATION_NAME           241024 non-null  object
 8   LOCATION_ADDRESS        233916 non-null  object
 9   LOCATION_POSTAL_CODE    233942 non-null  object
 10  LOCATION_CITY           233896 non-null  object
 11  LOCATION_PROVINCE       233518 non-null  object
 12  PROGRAM_ID              242515 non-null  int64
 13  PROGRAM_NAME            242480 non-null  object
 14  SECTOR                  242515 non-null  object
 15  PROGRAM_MODEL           242499 non-null  object
 16  OVERNIGHT_SERVICE_TYPE  242513 non-null  object
 17  PROGRAM_AREA            242513 non-null  object
 18  SERVICE_USER_COUNT      242515 non-null  int64
 19  CAPACITY_TYPE           242515 non-null  object
 20  CAPACITY_ACTUAL_BED     165690 non-null  float64
 21  CAPACITY_FUNDING_BED    165690 non-null  float64
 22  OCCUPIED_BEDS           165690 non-null  float64
 23  UNOCCUPIED_BEDS         165690 non-null  float64
 24  UNAVAILABLE_BEDS        165690 non-null  float64
 25  OCCUPANCY_RATE_BEDS     165690 non-null  float64
dtypes: datetime64[ns](1), float64(7), int64(5), object(13)
memory usage: 50.0+ MB
None

### Calculate Outlier Boundaries and Remove Outliers (IQR Method)

This code calculates the Interquartile Range (IQR) for each numerical column in `merged_df` and defines outlier bounds. It then filters `merged_df` to remove any rows where a numerical value falls outside these bounds, creating a new `merged_df_cleaned` DataFrame.

In [50]:
import pandas as pd
import numpy as np

# Identify numerical columns in the current merged_df
num_cols_for_outliers = merged_df.select_dtypes(include=['number']).columns.tolist()

# Exclude '_id' column if present, as it's typically an identifier, not a measurement
if '_id' in num_cols_for_outliers:
    num_cols_for_outliers.remove('_id')

# Initialize a combined mask to keep all rows initially
combined_mask = pd.Series(True, index=merged_df.index)

print("Calculating Outlier Boundaries (IQR Method) and Identifying Outliers:")
print("---------------------------------------------------")

for col in num_cols_for_outliers:
    # Calculate Q1 (25th percentile) and Q3 (75th percentile)
    Q1 = merged_df[col].quantile(0.25)
    Q3 = merged_df[col].quantile(0.75)
    IQR = Q3 - Q1

    # Calculate outlier bounds
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR

    print(f"\nColumn: {col}")
    print(f"  Q1: {Q1:.2f}, Q3: {Q3:.2f}, IQR: {IQR:.2f}")
    print(f"  Lower Bound: {lower_bound:.2f}")
    print(f"  Upper Bound: {upper_bound:.2f}")

    # Create a mask for the current column: True if within bounds, False if outlier
    # Handle NaN values by making their condition False to drop them if they exist in relevant columns
    col_mask = (merged_df[col] >= lower_bound) & (merged_df[col] <= upper_bound)
    col_mask = col_mask.fillna(False) # Treat NaNs as outside the bounds for filtering purposes

    # Combine this mask with the overall mask using logical AND
    # A row will be kept only if it's NOT an outlier in ANY of the numerical columns
    combined_mask = combined_mask & col_mask
    print(f"  Rows identified as outliers in '{col}': {(~col_mask).sum()}")

print("---------------------------------------------------")

# Apply the combined mask to the DataFrame to remove rows with any identified outliers
merged_df_cleaned = merged_df[combined_mask].copy()

print(f"\nOriginal number of rows: {len(merged_df)}")
print(f"Number of rows after removing outliers from all numerical columns: {len(merged_df_cleaned)}")
print(f"Total outliers removed: {len(merged_df) - len(merged_df_cleaned)}\n")

display(merged_df_cleaned.head())
print(merged_df_cleaned.info())

Calculating Outlier Boundaries (IQR Method) and Identifying Outliers:
---------------------------------------------------

Column: ORGANIZATION_ID
  Q1: 3.00, Q3: 24.00, IQR: 21.00
  Lower Bound: -28.50
  Upper Bound: 55.50
  Rows identified as outliers in 'ORGANIZATION_ID': 0

Column: SHELTER_ID
  Q1: 18.00, Q3: 58.00, IQR: 40.00
  Lower Bound: -42.00
  Upper Bound: 118.00
  Rows identified as outliers in 'SHELTER_ID': 0

Column: LOCATION_ID
  Q1: 1039.00, Q3: 1154.00, IQR: 115.00
  Lower Bound: 866.50
  Upper Bound: 1326.50
  Rows identified as outliers in 'LOCATION_ID': 8317

Column: PROGRAM_ID
  Q1: 12252.00, Q3: 15972.00, IQR: 3720.00
  Lower Bound: 6672.00
  Upper Bound: 21552.00
  Rows identified as outliers in 'PROGRAM_ID': 0

Column: SERVICE_USER_COUNT
  Q1: 21.00, Q3: 72.00, IQR: 51.00
  Lower Bound: -55.50
  Upper Bound: 148.50
  Rows identified as outliers in 'SERVICE_USER_COUNT': 20449

Column: CAPACITY_ACTUAL_BED
  Q1: 18.00, Q3: 52.00, IQR: 34.00
  Lower Bound: -33.00
  Upper Bound: 103.00
  Rows identified as outliers in 'CAPACITY_ACTUAL_BED': 82976

Column: CAPACITY_FUNDING_BED
  Q1: 19.00, Q3: 53.00, IQR: 34.00
  Lower Bound: -32.00
  Upper Bound: 104.00
  Rows identified as outliers in 'CAPACITY_FUNDING_BED': 84243

Column: OCCUPIED_BEDS
  Q1: 18.00, Q3: 51.00, IQR: 33.00
  Lower Bound: -31.50
  Upper Bound: 100.50
  Rows identified as outliers in 'OCCUPIED_BEDS': 83657

Column: UNOCCUPIED_BEDS
  Q1: 0.00, Q3: 1.00, IQR: 1.00
  Lower Bound: -1.50
  Upper Bound: 2.50
  Rows identified as outliers in 'UNOCCUPIED_BEDS': 94075

Column: UNAVAILABLE_BEDS
  Q1: 0.00, Q3: 1.00, IQR: 1.00
  Lower Bound: -1.50
  Upper Bound: 2.50
  Rows identified as outliers in 'UNAVAILABLE_BEDS': 98632

Column: OCCUPANCY_RATE_BEDS
  Q1: 97.83, Q3: 100.00, IQR: 2.17
  Lower Bound: 94.57
  Upper Bound: 103.25
  Rows identified as outliers in 'OCCUPANCY_RATE_BEDS': 106768
---------------------------------------------------

Original number of rows: 242515
Number of rows after removing outliers from all numerical columns: 108331
Total outliers removed: 134184

,_id,OCCUPANCY_DATE,ORGANIZATION_ID,ORGANIZATION_NAME,SHELTER_ID,SHELTER_GROUP,LOCATION_ID,LOCATION_NAME,LOCATION_ADDRESS,LOCATION_POSTAL_CODE,...,OVERNIGHT_SERVICE_TYPE,PROGRAM_AREA,SERVICE_USER_COUNT,CAPACITY_TYPE,CAPACITY_ACTUAL_BED,CAPACITY_FUNDING_BED,OCCUPIED_BEDS,UNOCCUPIED_BEDS,UNAVAILABLE_BEDS,OCCUPANCY_RATE_BEDS
93358,60,2021-01-01,6,Dixon Hall,14,Dixon Hall - Schoolhouse,1020.0,Dixon Hall Schoolhouse,349 George St,M5A 2N2,...,Shelter,Base Shelter and Overnight Services System,22,Bed Based Capacity,22.0,22.0,22.0,0.0,0.0,100.0
93403,105,2021-01-01,34,St. Felix Social Ministries Outreach,66,St. Felix Centre,1148.0,St. Felix Centre 69 Fraser Ave. Respite,69 Fraser Ave,M6K 1E9,...,24-Hour Respite Site,Base Shelter and Overnight Services System,43,Bed Based Capacity,43.0,43.0,43.0,0.0,0.0,100.0
93355,57,2021-01-01,6,Dixon Hall,9,Dixon Hall - Heyworth House,1015.0,Dixon Hall Heyworth House,2714 Danforth Ave,M4C 1L7,...,Shelter,Base Shelter and Overnight Services System,41,Bed Based Capacity,41.0,41.0,41.0,0.0,0.0,100.0
93353,55,2021-01-01,6,Dixon Hall,9,Dixon Hall - Heyworth House,1157.0,354 George Street,354 George St,M5A 2N3,...,24-Hour Respite Site,Base Shelter and Overnight Services System,49,Bed Based Capacity,50.0,50.0,49.0,1.0,0.0,98.0
93352,54,2021-01-01,6,Dixon Hall,80,351 Lakeshore Respite Services,1149.0,Dixon Hall 351 Lake Shore Blvd E Respite,351 Lake Shore Blvd E,M5A 1C1,...,24-Hour Respite Site,Base Shelter and Overnight Services System,44,Bed Based Capacity,44.0,45.0,44.0,0.0,1.0,100.0

<class 'pandas.core.frame.DataFrame'>
Index: 108331 entries, 93358 to 44862
Data columns (total 26 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   _id                     108331 non-null  int64
 1   OCCUPANCY_DATE          108331 non-null  datetime64[ns]
 2   ORGANIZATION_ID         108331 non-null  int64
 3   ORGANIZATION_NAME       108331 non-null  object
 4   SHELTER_ID              108331 non-null  int64
 5   SHELTER_GROUP           108226 non-null  object
 6   LOCATION_ID             108331 non-null  float64
 7   LOCATION_NAME           107327 non-null  object
 8   LOCATION_ADDRESS        105945 non-null  object
 9   LOCATION_POSTAL_CODE    105945 non-null  object
 10  LOCATION_CITY           105945 non-null  object
 11  LOCATION_PROVINCE       105945 non-null  object
 12  PROGRAM_ID              108331 non-null  int64
 13  PROGRAM_NAME            108331 non-null  object
 14  SECTOR                  108331 non-null  object
 15  PROGRAM_MODEL           108328 non-null  object
 16  OVERNIGHT_SERVICE_TYPE  108331 non-null  object
 17  PROGRAM_AREA            108331 non-null  object
 18  SERVICE_USER_COUNT      108331 non-null  int64
 19  CAPACITY_TYPE           108331 non-null  object
 20  CAPACITY_ACTUAL_BED     108331 non-null  float64
 21  CAPACITY_FUNDING_BED    108331 non-null  float64
 22  OCCUPIED_BEDS           108331 non-null  float64
 23  UNOCCUPIED_BEDS         108331 non-null  float64
 24  UNAVAILABLE_BEDS        108331 non-null  float64
 25  OCCUPANCY_RATE_BEDS     108331 non-null  float64
dtypes: datetime64[ns](1), float64(7), int64(5), object(13)
memory usage: 22.3+ MB
None

In [51]:
print(merged_df_cleaned.isnull().sum())

_id                          0
OCCUPANCY_DATE               0
ORGANIZATION_ID              0
ORGANIZATION_NAME            0
SHELTER_ID                   0
SHELTER_GROUP              105
LOCATION_ID                  0
LOCATION_NAME             1004
LOCATION_ADDRESS          2386
LOCATION_POSTAL_CODE      2386
LOCATION_CITY             2386
LOCATION_PROVINCE         2386
PROGRAM_ID                   0
PROGRAM_NAME                 0
SECTOR                       0
PROGRAM_MODEL                3
OVERNIGHT_SERVICE_TYPE       0
PROGRAM_AREA                 0
SERVICE_USER_COUNT           0
CAPACITY_TYPE                0
CAPACITY_ACTUAL_BED          0
CAPACITY_FUNDING_BED         0
OCCUPIED_BEDS                0
UNOCCUPIED_BEDS              0
UNAVAILABLE_BEDS             0
OCCUPANCY_RATE_BEDS          0
dtype: int64

### Imputing Missing Categorical Data with Mode

In [52]:
cols_to_impute_mode = [
    'SHELTER_GROUP',
    'LOCATION_NAME',
    'LOCATION_ADDRESS',
    'LOCATION_POSTAL_CODE',
    'LOCATION_CITY',
    'LOCATION_PROVINCE',
    'PROGRAM_MODEL'
]

for col in cols_to_impute_mode:
    if merged_df_cleaned[col].isnull().any():
        mode_value = merged_df_cleaned[col].mode()[0] # [0] to handle cases where there are multiple modes
        merged_df_cleaned[col].fillna(mode_value, inplace=True)
        print(f"Column '{col}' imputed with mode: '{mode_value}'")

print("\nMissing values after imputation:")
print(merged_df_cleaned.isnull().sum())

print("\nUpdated merged_df_cleaned info after imputation:")
print(merged_df_cleaned.info())

Column 'SHELTER_GROUP' imputed with mode: 'HFS - Scarborough Shelter'
Column 'LOCATION_NAME' imputed with mode: 'HFS 545 Lake Shore Blvd W Shelter'
Column 'LOCATION_ADDRESS' imputed with mode: '545 Lake Shore Blvd W'
Column 'LOCATION_POSTAL_CODE' imputed with mode: 'M5A 2N2'
Column 'LOCATION_CITY' imputed with mode: 'Toronto'
Column 'LOCATION_PROVINCE' imputed with mode: 'ON'
Column 'PROGRAM_MODEL' imputed with mode: 'Emergency'

Missing values after imputation:

/tmp/ipython-input-2747999661.py:14: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  merged_df_cleaned[col].fillna(mode_value, inplace=True)

_id                       0
OCCUPANCY_DATE            0
ORGANIZATION_ID           0
ORGANIZATION_NAME         0
SHELTER_ID                0
SHELTER_GROUP             0
LOCATION_ID               0
LOCATION_NAME             0
LOCATION_ADDRESS          0
LOCATION_POSTAL_CODE      0
LOCATION_CITY             0
LOCATION_PROVINCE         0
PROGRAM_ID                0
PROGRAM_NAME              0
SECTOR                    0
PROGRAM_MODEL             0
OVERNIGHT_SERVICE_TYPE    0
PROGRAM_AREA              0
SERVICE_USER_COUNT        0
CAPACITY_TYPE             0
CAPACITY_ACTUAL_BED       0
CAPACITY_FUNDING_BED      0
OCCUPIED_BEDS             0
UNOCCUPIED_BEDS           0
UNAVAILABLE_BEDS          0
OCCUPANCY_RATE_BEDS       0
dtype: int64

Updated merged_df_cleaned info after imputation:
<class 'pandas.core.frame.DataFrame'>
Index: 108331 entries, 93358 to 44862
Data columns (total 26 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   _id                     108331 non-null  int64
 1   OCCUPANCY_DATE          108331 non-null  datetime64[ns]
 2   ORGANIZATION_ID         108331 non-null  int64
 3   ORGANIZATION_NAME       108331 non-null  object
 4   SHELTER_ID              108331 non-null  int64
 5   SHELTER_GROUP           108331 non-null  object
 6   LOCATION_ID             108331 non-null  float64
 7   LOCATION_NAME           108331 non-null  object
 8   LOCATION_ADDRESS        108331 non-null  object
 9   LOCATION_POSTAL_CODE    108331 non-null  object
 10  LOCATION_CITY           108331 non-null  object
 11  LOCATION_PROVINCE       108331 non-null  object
 12  PROGRAM_ID              108331 non-null  int64
 13  PROGRAM_NAME            108331 non-null  object
 14  SECTOR                  108331 non-null  object
 15  PROGRAM_MODEL           108331 non-null  object
 16  OVERNIGHT_SERVICE_TYPE  108331 non-null  object
 17  PROGRAM_AREA            108331 non-null  object
 18  SERVICE_USER_COUNT      108331 non-null  int64
 19  CAPACITY_TYPE           108331 non-null  object
 20  CAPACITY_ACTUAL_BED     108331 non-null  float64
 21  CAPACITY_FUNDING_BED    108331 non-null  float64
 22  OCCUPIED_BEDS           108331 non-null  float64
 23  UNOCCUPIED_BEDS         108331 non-null  float64
 24  UNAVAILABLE_BEDS        108331 non-null  float64
 25  OCCUPANCY_RATE_BEDS     108331 non-null  float64
dtypes: datetime64[ns](1), float64(7), int64(5), object(13)
memory usage: 22.3+ MB
None

### Recalculate Outlier Boundaries and Remove Outliers from the Updated Data (IQR Method)

In [53]:
import pandas as pd
import numpy as np

# Identify numerical columns in the current merged_df_cleaned
num_cols_for_outliers_v2 = merged_df_cleaned.select_dtypes(include=['number']).columns.tolist()

# Exclude '_id' column if present, as it's typically an identifier, not a measurement
if '_id' in num_cols_for_outliers_v2:
    num_cols_for_outliers_v2.remove('_id')

# Initialize a combined mask to keep all rows initially
combined_mask_v2 = pd.Series(True, index=merged_df_cleaned.index)

print("Recalculating Outlier Boundaries (IQR Method) and Identifying Outliers on Updated Data:")
print("---------------------------------------------------")

for col in num_cols_for_outliers_v2:
    # Calculate Q1 (25th percentile) and Q3 (75th percentile)
    Q1 = merged_df_cleaned[col].quantile(0.25)
    Q3 = merged_df_cleaned[col].quantile(0.75)
    IQR = Q3 - Q1

    # Calculate outlier bounds
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR

    print(f"\nColumn: {col}")
    print(f"  Q1: {Q1:.2f}, Q3: {Q3:.2f}, IQR: {IQR:.2f}")
    print(f"  Lower Bound: {lower_bound:.2f}")
    print(f"  Upper Bound: {upper_bound:.2f}")

    # Create a mask for the current column: True if within bounds, False if outlier
    # Handle NaN values by making their condition False to drop them if they exist in relevant columns
    col_mask = (merged_df_cleaned[col] >= lower_bound) & (merged_df_cleaned[col] <= upper_bound)
    col_mask = col_mask.fillna(False) # Treat NaNs as outside the bounds for filtering purposes

    # Combine this mask with the overall mask using logical AND
    # A row will be kept only if it's NOT an outlier in ANY of the numerical columns
    combined_mask_v2 = combined_mask_v2 & col_mask
    print(f"  Rows identified as outliers in '{col}': {(~col_mask).sum()}")

print("---------------------------------------------------")

# Apply the combined mask to the DataFrame to remove rows with any identified outliers
merged_df_cleaned = merged_df_cleaned[combined_mask_v2].copy()

print(f"\nOriginal number of rows (after previous cleaning): {len(combined_mask_v2)}")
print(f"Number of rows after removing additional outliers from all numerical columns: {len(merged_df_cleaned)}")
print(f"Total additional outliers removed: {len(combined_mask_v2) - len(merged_df_cleaned)}\n")

display(merged_df_cleaned.head())
print(merged_df_cleaned.info())

Recalculating Outlier Boundaries (IQR Method) and Identifying Outliers on Updated Data:
---------------------------------------------------

Column: ORGANIZATION_ID
  Q1: 7.00, Q3: 25.00, IQR: 18.00
  Lower Bound: -20.00
  Upper Bound: 52.00
  Rows identified as outliers in 'ORGANIZATION_ID': 0

Column: SHELTER_ID
  Q1: 19.00, Q3: 59.00, IQR: 40.00
  Lower Bound: -41.00
  Upper Bound: 119.00
  Rows identified as outliers in 'SHELTER_ID': 0

Column: LOCATION_ID
  Q1: 1026.00, Q3: 1146.00, IQR: 120.00
  Lower Bound: 846.00
  Upper Bound: 1326.00
  Rows identified as outliers in 'LOCATION_ID': 0

Column: PROGRAM_ID
  Q1: 12012.00, Q3: 14891.00, IQR: 2879.00
  Lower Bound: 7693.50
  Upper Bound: 19209.50
  Rows identified as outliers in 'PROGRAM_ID': 0

Column: SERVICE_USER_COUNT
  Q1: 22.00, Q3: 50.00, IQR: 28.00
  Lower Bound: -20.00
  Upper Bound: 92.00
  Rows identified as outliers in 'SERVICE_USER_COUNT': 2744

Column: CAPACITY_ACTUAL_BED
  Q1: 22.00, Q3: 51.00, IQR: 29.00
  Lower Bound: -21.50
  Upper Bound: 94.50
  Rows identified as outliers in 'CAPACITY_ACTUAL_BED': 264

Column: CAPACITY_FUNDING_BED
  Q1: 22.00, Q3: 51.00, IQR: 29.00
  Lower Bound: -21.50
  Upper Bound: 94.50
  Rows identified as outliers in 'CAPACITY_FUNDING_BED': 264

Column: OCCUPIED_BEDS
  Q1: 22.00, Q3: 50.00, IQR: 28.00
  Lower Bound: -20.00
  Upper Bound: 92.00
  Rows identified as outliers in 'OCCUPIED_BEDS': 2744

Column: UNOCCUPIED_BEDS
  Q1: 0.00, Q3: 0.00, IQR: 0.00
  Lower Bound: 0.00
  Upper Bound: 0.00
  Rows identified as outliers in 'UNOCCUPIED_BEDS': 12404

Column: UNAVAILABLE_BEDS
  Q1: 0.00, Q3: 0.00, IQR: 0.00
  Lower Bound: 0.00
  Upper Bound: 0.00
  Rows identified as outliers in 'UNAVAILABLE_BEDS': 15186

Column: OCCUPANCY_RATE_BEDS
  Q1: 100.00, Q3: 100.00, IQR: 0.00
  Lower Bound: 100.00
  Upper Bound: 100.00
  Rows identified as outliers in 'OCCUPANCY_RATE_BEDS': 12404
---------------------------------------------------

Original number of rows (after previous cleaning): 108331
Number of rows after removing additional outliers from all numerical columns: 80273
Total additional outliers removed: 28058

,_id,OCCUPANCY_DATE,ORGANIZATION_ID,ORGANIZATION_NAME,SHELTER_ID,SHELTER_GROUP,LOCATION_ID,LOCATION_NAME,LOCATION_ADDRESS,LOCATION_POSTAL_CODE,...,OVERNIGHT_SERVICE_TYPE,PROGRAM_AREA,SERVICE_USER_COUNT,CAPACITY_TYPE,CAPACITY_ACTUAL_BED,CAPACITY_FUNDING_BED,OCCUPIED_BEDS,UNOCCUPIED_BEDS,UNAVAILABLE_BEDS,OCCUPANCY_RATE_BEDS
93358,60,2021-01-01,6,Dixon Hall,14,Dixon Hall - Schoolhouse,1020.0,Dixon Hall Schoolhouse,349 George St,M5A 2N2,...,Shelter,Base Shelter and Overnight Services System,22,Bed Based Capacity,22.0,22.0,22.0,0.0,0.0,100.0
93403,105,2021-01-01,34,St. Felix Social Ministries Outreach,66,St. Felix Centre,1148.0,St. Felix Centre 69 Fraser Ave. Respite,69 Fraser Ave,M6K 1E9,...,24-Hour Respite Site,Base Shelter and Overnight Services System,43,Bed Based Capacity,43.0,43.0,43.0,0.0,0.0,100.0
93355,57,2021-01-01,6,Dixon Hall,9,Dixon Hall - Heyworth House,1015.0,Dixon Hall Heyworth House,2714 Danforth Ave,M4C 1L7,...,Shelter,Base Shelter and Overnight Services System,41,Bed Based Capacity,41.0,41.0,41.0,0.0,0.0,100.0
93351,53,2021-01-01,12,Covenant House Toronto,20,Covenant House,1027.0,Covenant House McGill St,21 McGill St,M5B 1H3,...,Shelter,Base Shelter and Overnight Services System,28,Bed Based Capacity,28.0,28.0,28.0,0.0,0.0,100.0
93348,50,2021-01-01,13,Cornerstone Place,21,Cornerstone Place,1028.0,Cornerstone Place,616 Vaughan Rd,M6C 2R5,...,Shelter,Base Shelter and Overnight Services System,20,Bed Based Capacity,20.0,20.0,20.0,0.0,0.0,100.0

<class 'pandas.core.frame.DataFrame'>
Index: 80273 entries, 93358 to 44862
Data columns (total 26 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   _id                     80273 non-null  int64
 1   OCCUPANCY_DATE          80273 non-null  datetime64[ns]
 2   ORGANIZATION_ID         80273 non-null  int64
 3   ORGANIZATION_NAME       80273 non-null  object
 4   SHELTER_ID              80273 non-null  int64
 5   SHELTER_GROUP           80273 non-null  object
 6   LOCATION_ID             80273 non-null  float64
 7   LOCATION_NAME           80273 non-null  object
 8   LOCATION_ADDRESS        80273 non-null  object
 9   LOCATION_POSTAL_CODE    80273 non-null  object
 10  LOCATION_CITY           80273 non-null  object
 11  LOCATION_PROVINCE       80273 non-null  object
 12  PROGRAM_ID              80273 non-null  int64
 13  PROGRAM_NAME            80273 non-null  object
 14  SECTOR                  80273 non-null  object
 15  PROGRAM_MODEL           80273 non-null  object
 16  OVERNIGHT_SERVICE_TYPE  80273 non-null  object
 17  PROGRAM_AREA            80273 non-null  object
 18  SERVICE_USER_COUNT      80273 non-null  int64
 19  CAPACITY_TYPE           80273 non-null  object
 20  CAPACITY_ACTUAL_BED     80273 non-null  float64
 21  CAPACITY_FUNDING_BED    80273 non-null  float64
 22  OCCUPIED_BEDS           80273 non-null  float64
 23  UNOCCUPIED_BEDS         80273 non-null  float64
 24  UNAVAILABLE_BEDS        80273 non-null  float64
 25  OCCUPANCY_RATE_BEDS     80273 non-null  float64
dtypes: datetime64[ns](1), float64(7), int64(5), object(13)
memory usage: 16.5+ MB
None

In [54]:
print("\n--- 1. Data Type Confirmation ---")
print(merged_df_cleaned.info())

print("\n--- 2. Duplicate Check ---")
duplicate_rows = merged_df_cleaned.duplicated().sum()
if duplicate_rows == 0:
    print("No duplicate rows found.")
else:
    print(f"Found {duplicate_rows} duplicate rows.")

print("\n--- 3. Missing Values Re-check ---")
missing_values_recheck = merged_df_cleaned.isnull().sum().sum()
if missing_values_recheck == 0:
    print("No missing values found after all imputation and cleaning steps.")
else:
    print(f"Found {missing_values_recheck} remaining missing values. Please review.")

--- 1. Data Type Confirmation ---
<class 'pandas.core.frame.DataFrame'>
Index: 80273 entries, 93358 to 44862
Data columns (total 26 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   _id                     80273 non-null  int64
 1   OCCUPANCY_DATE          80273 non-null  datetime64[ns]
 2   ORGANIZATION_ID         80273 non-null  int64
 3   ORGANIZATION_NAME       80273 non-null  object
 4   SHELTER_ID              80273 non-null  int64
 5   SHELTER_GROUP           80273 non-null  object
 6   LOCATION_ID             80273 non-null  float64
 7   LOCATION_NAME           80273 non-null  object
 8   LOCATION_ADDRESS        80273 non-null  object
 9   LOCATION_POSTAL_CODE    80273 non-null  object
 10  LOCATION_CITY           80273 non-null  object
 11  LOCATION_PROVINCE       80273 non-null  object
 12  PROGRAM_ID              80273 non-null  int64
 13  PROGRAM_NAME            80273 non-null  object
 14  SECTOR                  80273 non-null  object
 15  PROGRAM_MODEL           80273 non-null  object
 16  OVERNIGHT_SERVICE_TYPE  80273 non-null  object
 17  PROGRAM_AREA            80273 non-null  object
 18  SERVICE_USER_COUNT      80273 non-null  int64
 19  CAPACITY_TYPE           80273 non-null  object
 20  CAPACITY_ACTUAL_BED     80273 non-null  float64
 21  CAPACITY_FUNDING_BED    80273 non-null  float64
 22  OCCUPIED_BEDS           80273 non-null  float64
 23  UNOCCUPIED_BEDS         80273 non-null  float64
 24  UNAVAILABLE_BEDS        80273 non-null  float64
 25  OCCUPANCY_RATE_BEDS     80273 non-null  float64
dtypes: datetime64[ns](1), float64(7), int64(5), object(13)
memory usage: 16.5+ MB
None

--- 2. Duplicate Check ---
No duplicate rows found.

--- 3. Missing Values Re-check ---
No missing values found after all imputation and cleaning steps.

In [55]:
print("\n--- 4. Categorical Column Review (Top 5 unique values per column) ---")
# Select object columns (likely categorical)
cat_cols = merged_df_cleaned.select_dtypes(include='object').columns

for col in cat_cols:
    print(f"\nColumn: {col}")
    # Display top 5 unique values and their counts
    display(merged_df_cleaned[col].value_counts().head())

print("\n--- 5. Numerical Column Statistics ---")
# Select numerical columns
num_cols = merged_df_cleaned.select_dtypes(include=['number']).columns

# Display descriptive statistics for numerical columns
display(merged_df_cleaned[num_cols].describe())

--- 4. Categorical Column Review (Top 5 unique values per column) ---

Column: ORGANIZATION_NAME

ORGANIZATION_NAME
City of Toronto                  7746
Homes First Society              6716
The Salvation Army of Canada     6593
Fred Victor Centre               5129
Society of St.Vincent De Paul    4938
Name: count, dtype: int64

Column: SHELTER_GROUP

SHELTER_GROUP
HFS - Scarborough Shelter           5742
Seaton House                        3820
Good Shepherd Centre                3579
Salvation Army Islington Seniors    2747
Covenant House                      2637
Name: count, dtype: int64

Column: LOCATION_NAME

LOCATION_NAME
SA Islington Seniors' Shelter        2747
HFS 545 Lake Shore Blvd W Shelter    2689
YWCA 1st Stop Woodlawn               2543
YWCA Davenport Shelter               2129
Good Shepherd Centre                 2087
Name: count, dtype: int64

Column: LOCATION_ADDRESS

LOCATION_ADDRESS
545 Lake Shore Blvd W    3459
2671 Islington Ave       2747
80 Woodlawn Ave E        2543
348 Davenport Road       2129
412 Queen St E           2087
Name: count, dtype: int64

Column: LOCATION_POSTAL_CODE

LOCATION_POSTAL_CODE
M5A 2N2    4749
M9V 2X6    2747
M4T 1C1    2543
M5R 1K6    2129
M5A 1T3    2087
Name: count, dtype: int64

Column: LOCATION_CITY

LOCATION_CITY
Toronto        73847
Scarborough     3334
Etobicoke       1778
North York      1314
Name: count, dtype: int64

Column: LOCATION_PROVINCE

LOCATION_PROVINCE
ON    80273
Name: count, dtype: int64

Column: PROGRAM_NAME

PROGRAM_NAME
Cornerstone Place                              1731
Margaret's 21 Park Rd. Respite                 1558
Junction Place                                 1532
Fred Victor Women's Hostel Program             1527
Good Shepherd Barrett House - Men's Program    1492
Name: count, dtype: int64

Column: SECTOR

SECTOR
Men            24357
Women          20187
Mixed Adult    19106
Youth          16623
Name: count, dtype: int64

Column: PROGRAM_MODEL

PROGRAM_MODEL
Emergency       66551
Transitional    13722
Name: count, dtype: int64

Column: OVERNIGHT_SERVICE_TYPE

OVERNIGHT_SERVICE_TYPE
Shelter                       67079
24-Hour Respite Site           8863
24-Hour Women's Drop-in        1688
Top Bunk Contingency Space     1423
Alternative Space Protocol      857
Name: count, dtype: int64

Column: PROGRAM_AREA

PROGRAM_AREA
Base Shelter and Overnight Services System    74945
Base Program - Refugee                         2419
Winter Programs                                1487
Temporary Refugee Response                      688
Temporary Programs                              455
Name: count, dtype: int64

Column: CAPACITY_TYPE

CAPACITY_TYPE
Bed Based Capacity    80273
Name: count, dtype: int64

--- 5. Numerical Column Statistics ---

,_id,ORGANIZATION_ID,SHELTER_ID,LOCATION_ID,PROGRAM_ID,SERVICE_USER_COUNT,CAPACITY_ACTUAL_BED,CAPACITY_FUNDING_BED,OCCUPIED_BEDS,UNOCCUPIED_BEDS,UNAVAILABLE_BEDS,OCCUPANCY_RATE_BEDS
count,80273.000000,80273.000000,80273.000000,80273.000000,80273.000000,80273.000000,80273.000000,80273.000000,80273.000000,80273.0,80273.0,80273.0
mean,24718.674997,15.664109,37.737371,1083.467505,13446.289973,34.618564,34.618564,34.618564,34.618564,0.0,0.0,100.0
std,13903.002515,10.523778,24.293933,67.169973,1737.285311,20.576807,20.576807,20.576807,20.576807,0.0,0.0,0.0
min,3.000000,1.000000,1.000000,1002.000000,11794.000000,2.000000,2.000000,2.000000,2.000000,0.0,0.0,100.0
25%,12847.000000,7.000000,18.000000,1027.000000,12051.000000,19.000000,19.000000,19.000000,19.000000,0.0,0.0,100.0
50%,24694.000000,15.000000,34.000000,1059.000000,12291.000000,30.000000,30.000000,30.000000,30.000000,0.0,0.0,100.0
75%,36867.000000,24.000000,60.000000,1129.000000,14791.000000,49.000000,49.000000,49.000000,49.000000,0.0,0.0,100.0
max,50943.000000,39.000000,105.000000,1300.000000,18891.000000,91.000000,91.000000,91.000000,91.000000,0.0,0.0,100.0

In [57]:
numerical_cols_to_convert = merged_df_cleaned.select_dtypes(include=['number']).columns.tolist()
# Exclude '_id' as it might be better as an integer or object, and OCCUPANCY_DATE as it's datetime
if '_id' in numerical_cols_to_convert:
    numerical_cols_to_convert.remove('_id')

print(f"Converting the following numerical columns to float64: {numerical_cols_to_convert}")

for col in numerical_cols_to_convert:
    merged_df_cleaned[col] = merged_df_cleaned[col].astype('float64')

print("Data types after conversion:")
print(merged_df_cleaned.info())

Converting the following numerical columns to float64: ['ORGANIZATION_ID', 'SHELTER_ID', 'LOCATION_ID', 'PROGRAM_ID', 'SERVICE_USER_COUNT', 'CAPACITY_ACTUAL_BED', 'CAPACITY_FUNDING_BED', 'OCCUPIED_BEDS', 'UNOCCUPIED_BEDS', 'UNAVAILABLE_BEDS', 'OCCUPANCY_RATE_BEDS']
Data types after conversion:
<class 'pandas.core.frame.DataFrame'>
Index: 80273 entries, 93358 to 44862
Data columns (total 26 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   _id                     80273 non-null  int64
 1   OCCUPANCY_DATE          80273 non-null  datetime64[ns]
 2   ORGANIZATION_ID         80273 non-null  float64
 3   ORGANIZATION_NAME       80273 non-null  object
 4   SHELTER_ID              80273 non-null  float64
 5   SHELTER_GROUP           80273 non-null  object
 6   LOCATION_ID             80273 non-null  float64
 7   LOCATION_NAME           80273 non-null  object
 8   LOCATION_ADDRESS        80273 non-null  object
 9   LOCATION_POSTAL_CODE    80273 non-null  object
 10  LOCATION_CITY           80273 non-null  object
 11  LOCATION_PROVINCE       80273 non-null  object
 12  PROGRAM_ID              80273 non-null  float64
 13  PROGRAM_NAME            80273 non-null  object
 14  SECTOR                  80273 non-null  object
 15  PROGRAM_MODEL           80273 non-null  object
 16  OVERNIGHT_SERVICE_TYPE  80273 non-null  object
 17  PROGRAM_AREA            80273 non-null  object
 18  SERVICE_USER_COUNT      80273 non-null  float64
 19  CAPACITY_TYPE           80273 non-null  object
 20  CAPACITY_ACTUAL_BED     80273 non-null  float64
 21  CAPACITY_FUNDING_BED    80273 non-null  float64
 22  OCCUPIED_BEDS           80273 non-null  float64
 23  UNOCCUPIED_BEDS         80273 non-null  float64
 24  UNAVAILABLE_BEDS        80273 non-null  float64
 25  OCCUPANCY_RATE_BEDS     80273 non-null  float64
dtypes: datetime64[ns](1), float64(11), int64(1), object(13)
memory usage: 16.5+ MB
None

In [56]:
# Save the cleaned DataFrame to a new CSV file
merged_df_cleaned.to_csv('cleaned_shelter_data.csv', index=False)

print("merged_df_cleaned saved successfully as 'cleaned_shelter_data.csv'")

merged_df_cleaned saved successfully as 'cleaned_shelter_data.csv'

Group the `merged_df_cleaned` DataFrame by `OCCUPANCY_DATE` and calculate the sum for the following columns: `CAPACITY_ACTUAL_BED`, `CAPACITY_FUNDING_BED`, `OCCUPIED_BEDS`, `UNOCCUPIED_BEDS`, `UNAVAILABLE_BEDS`, and `OCCUPANCY_RATE_BEDS`. Save the resulting aggregated DataFrame to a CSV file named "aggregated_shelter_data_by_date_specific_cols.csv" and display the first five rows of this new DataFrame.

In [59]:
numerical_cols_to_sum = [
    'CAPACITY_ACTUAL_BED',
    'CAPACITY_FUNDING_BED',
    'OCCUPIED_BEDS',
    'UNOCCUPIED_BEDS',
    'UNAVAILABLE_BEDS',
    'OCCUPANCY_RATE_BEDS'
]

aggregated_df = merged_df_cleaned.groupby('OCCUPANCY_DATE')[numerical_cols_to_sum].sum().reset_index()

print("Aggregated DataFrame Info:")
print(aggregated_df.info())
print("\nAggregated DataFrame Head:")
display(aggregated_df.head())

Aggregated DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1780 entries, 0 to 1779
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   OCCUPANCY_DATE        1780 non-null   datetime64[ns]
 1   CAPACITY_ACTUAL_BED   1780 non-null   float64
 2   CAPACITY_FUNDING_BED  1780 non-null   float64
 3   OCCUPIED_BEDS         1780 non-null   float64
 4   UNOCCUPIED_BEDS       1780 non-null   float64
 5   UNAVAILABLE_BEDS      1780 non-null   float64
 6   OCCUPANCY_RATE_BEDS   1780 non-null   float64
dtypes: datetime64[ns](1), float64(6)
memory usage: 97.5 KB
None

Aggregated DataFrame Head:

,OCCUPANCY_DATE,CAPACITY_ACTUAL_BED,CAPACITY_FUNDING_BED,OCCUPIED_BEDS,UNOCCUPIED_BEDS,UNAVAILABLE_BEDS,OCCUPANCY_RATE_BEDS
0,2021-01-01,758.0,758.0,758.0,0.0,0.0,2700.0
1,2021-01-02,888.0,888.0,888.0,0.0,0.0,3100.0
2,2021-01-03,668.0,668.0,668.0,0.0,0.0,2500.0
3,2021-01-04,678.0,678.0,678.0,0.0,0.0,2400.0
4,2021-01-05,716.0,716.0,716.0,0.0,0.0,2600.0

In [61]:
aggregated_df.to_csv('aggregated_shelter_data_by_date_specific_cols.csv', index=False)

print("Aggregated data saved successfully as 'aggregated_shelter_data_by_date_specific_cols.csv'")

Aggregated data saved successfully as 'aggregated_shelter_data_by_date_specific_cols.csv'